android/.gradle/7.3.3/gc.properties
android/.gradle/7.3.3/checksums/checksums.lock
android/.gradle/7.3.3/fileHashes/fileHashes.lock
android/.gradle/vcs-1/gc.properties
android/.gradle/7.3.3/fileChanges/last-build.bin
.vscode/launch.json
node_modules
android/.gradle
android/app/build