android/.gradle/7.3.3/gc.properties
android/.gradle/7.3.3/checksums/checksums.lock
android/.gradle/7.3.3/fileHashes/fileHashes.lock
android/.gradle/vcs-1/gc.properties
android/.gradle/7.3.3/fileChanges/last-build.bin
.vscode/launch.json
node_modules
C:\Users\Sander\Documents\repo-p\weather-react-native\android\.gradle/
android\.gradle/
C:\Users\Sander\Documents\repo-p\weather-react-native\android\app\build/
android\app\build/